{% extends 'base.html' %}

{% block content %}
  <h1>CardBox</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non neque erat. Praesent in posuere massa, sit amet varius ex. Pellentesque scelerisque odio a erat malesuada fringilla id et nisl. Vivamus nec mi sed magna rutrum rhoncus. Maecenas sed dictum nunc. Aenean eu odio vitae enim accumsan sollicitudin.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>
{% endblock %}

